<footer>
  <!-- <a href="/index/contact">Contact Us</a> -->
  <!-- <img src="/backgrounds/logo1.jpeg" alt="Company Logo"> -->
  <span>Copyright &copy; Genesis:- An Auditorium Management Site.</span>
  <span>Designed by: <a href="/index/contact">Genesis Team</a></span>
</footer>