<header>
    <h2 class="logo"><img src="/backgrounds/logo1.jpeg" alt="LOGO"></h2>
    <nav class="navigation">
        <a href="/index">Home</a>
        <a href="/index/about">About_Us</a>
        <a href="/index/contact">Contact_Us</a>
        <a href="/index/login" class="btnLogin-popup">Login</a>
    </nav>
</header>
