<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

      <div class="not-found content">
        <h2 style="color: white;">
          <%= errorMessage %>
        </h2>
      </div>
  </body>

  
</html>
