<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SAMS | <%= title %>
    </title>
    <!---Custom Css File!--->
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/About.css">
    <link rel="stylesheet" href="/footer.css">
</head>

<body>
    <%- include('partials/nav') %>
        <section class="about-us">
            <div class="about">
                <img src="/backgrounds/logo1.jpeg" class="pic">
                <div class="text">
                    <h2>NETAJI AUDITORIUM</h2>
                    <h5>A Sutdent's Auditorium, IIT KHARAGPUR</h5>
                    <p>
                        Located in the heart of IIT KHARAGPUR, India, the Student's Auditorium stands as a testament to
                        architectural brilliance and educational fervor. This magnificent structure, towering proudly
                        amidst the bustling cityscape, serves as a beacon of academic excellence and cultural enrichment
                        for students and visitors alike. With its grand facade and state-of-the-art facilities, the
                        Student's Auditorium is not merely a building; it is a hub of creativity, knowledge
                        dissemination, and community engagement.
                    </p>
                    <br>
                    <br>
                    <p>
                        Upon entering the auditorium, one is greeted by a sense of awe-inspiring grandeur. The spacious
                        foyer, adorned with elegant decor and contemporary artwork, sets the tone for the enriching
                        experiences that lie within. The air hums with anticipation as students, faculty, and guests
                        gather to partake in a myriad of events, ranging from academic seminars and workshops to
                        cultural performances and theatrical productions.
                    </p>
                    <br>
                    <br>
                    <p>
                        Step inside the main hall, and you are greeted by a sight to behold. The auditorium boasts a seating
                        capacity of hundreds, with tiered rows that ensure every attendee has an unobstructed view of the
                        stage. The acoustics are impeccable, allowing every note of music and every word spoken to resonate
                        with clarity and resonance. Whether it's a guest lecture by a renowned scholar, a mesmerizing
                        musical recital, or a thought-provoking debate, the auditorium provides the perfect setting for
                        intellectual discourse and artistic expression.
                    </p>
                    <div class="data">
                        <a href="/index/contact" class="hire">Contact_Us</a>
                    </div>
                </div>
            </div>
        </section>
        <%- include('partials/footer') %>
</body>

</html>