<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAMS | <%= title %></title>
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/Contact.css">
    <link rel="stylesheet" href="/footer.css">
</head>

<body>

    <%- include('partials/nav') %>

        <div class="section">
            <div class="hero">
                <article>
                    <h1>OUR TEAM</h1>
                    <br><br><br><br>
                    <img src="../backgrounds/lubesh.jpg">
                    <content>
                        I am 2nd year CSE student.
                    </content>
                    <h5>Lubesh Kumar Sharma</h5>
                    <p> ROLL NO. : 22CS30065</p>
                    <p> INSTIUITE EMAIL-ID : lubesh@kgpian.iitkgp.ac.in</p>
                    <p> PERSONAL EMAIL-ID : lubesh4@gmail.com</p>
                    <p> PHONE NUMBER : +91 6375943908</p>

                    <img src="../backgrounds/siddharth.jpeg">
                    <content>
                        I am 2nd year CSE student.
                    </content>
                    <h5>Siddharth Ambedkar</h5>
                    <p> ROLL NO. : 22CS10074</p>
                    <p> INSTIUITE EMAIL-ID : siddharthambedkar@gmail.com</p>
                    <p> PERSONAL EMAIL-ID : siddharthambedkar83588@gmail.com</p>
                    <p> PHONE NUMBER : +91 9442545332</p>

                    <img
                        src=" ../backgrounds/deepesh.jpeg">
                    <content>
                        I am 2nd year CSE student.
                    </content>
                    <h5>Deepesh singh</h5>
                    <p> ROLL NO. : 22CS30020</p>
                    <p> INSTIUITE EMAIL-ID : deepesh.cse.22@kgpian.iitkgp.ac.in</p>
                    <p> PERSONAL EMAIL-ID : deepesh002singh@gmail.com</p>
                    <p> PHONE NUMBER : +91 8382945057</p>
                </article>
            </div>
        </div>
        <%- include('partials/footer') %>
</body>

</html>