<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p><h1>SuccessFully Booked Your Tickets.</h1></p>
        <p>Here is the ticket of your booking:</p>
        <p>Kindly Reach On Time...</p>
        <p>If it was not done by you send a mail to <h2>lubesh4@gmail.com</h2></p>
    </body>
</html>