<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>You requested to reset your password.</p>
        <p> Please, click the link below to reset your password</p>
        <a href="{{link}}">Reset Password</a>
        <p>The token_id = {{token}} </p>
        <p>The userId = {{userId}} </p>
        <p>If it was not done by you send a mail to <h2>lubesh4@gmail.com</h2></p>
    </body>
</html>