<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>Your password has been changed successfully</p>
        <p>If it was not done by you send a mail to <h2>lubesh4@gmail.com</h2></p>
    </body>
</html>