<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p><h1>Greetings, Your Account has been restored.</h1></p>
        <p>For any query send a mail to <h2>lubesh4@gmail.com</h2></p>
    </body>
</html>