<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>Your Maild id Authorised by organisation Is {{email}}</p>
        <p>Password For the login is {{password}} </p>
        <p>Welcome to our Organisation</p>
        <p>For any Query, send a mail to <h2>lubesh4@gmail.com</h2></p>
    </body>
</html>